<!DOCTYPE html>

<html>

<head>
    <title>Email Sender</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Click <a href="/mail-send">me</a> to send an email!</p>
        
    </div>

    {{>footer}}
</body>

</html>