<!DOCTYPE html>

<html>

<head>
    <title>Email Sender</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Your email has been successfully sent!</p>
    </div>

    {{>footer}}
</body>

</html>