<!DOCTYPE html>

<html>

<head>
    <title>Email Sender</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use the below form to send an email.</p>
        <form id="emailForm" method="POST" action="/mail-sent">
            To:<br>
            <input type="email" name="recipent" required><br><br>
            Subject:<br>
            <input type="text" name="subject" required><br><br>
            Message:<br>
            <input type="text" name="message" required><br><br>
            {{!-- Attachment:<br>
            <input type="file" name="file" required><br><br> --}}
            <input type="submit" value="Submit"> 
        </form>
    </div>

    {{>footer}}
</body>

</html>